body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18pt;
}

div {
    border-style: solid;
    border-width: 1pt;
    width: 1000px;
    height: 300px;
    border-color: cadetblue;
}

h1 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 18pt;
    width: 900px;
    text-align: justify;
}

input {
    margin-left: 50px;
    width: 500px;
    padding: 8px;
    border-color: cadetblue;
    border-style: solid;
    border-radius: 10px;
    font-size: 17px;
}

button {
    margin-left: 10px;
    width: 100px;
    padding: 8px;
    border-color: cadetblue;
    border-style: solid;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}

p {
    margin-top: 75px;
    font-size: 20px;
    margin-left: 50px;
}