@font-face {
    font-family: 'Poppins-ELight';
    src: url(css/police/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(css/police/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(css/police/Poppins/Poppins-SemiBold.ttf);
}

body {
    margin: 0;
    /* background-color: #4D70A4; */
}

.jumbotron {
    background-color: #ffffff;
}

#header {
    background-color: #ffffff;
}

#title {
    font-family: 'Poppins-ELight';
    color: #4D70A4;
}

#list-users>button {
    font-family: 'Poppins-Bold';
    font-size: 0.9em;
    width: 100%;
    color: #4D70A4;
    border-style: solid;
    border-top: 0em;
    border-left: 0em;
    border-right: 0em;
    border-width: 0.01em;
    border-color: #4D70A4;
    background-color: #ffffff;
}

#button-posts {
    background-image: linear-gradient(to right, #F995A3, #FFB7C0);
    font-family: 'Poppins-Bold';
    color: white;
    border-style: none;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


/* USERS */

#columns-users {
    border-radius: 1em;
}

#title-users {
    font-family: 'Poppins-Light';
    color: #F995A3;
    font-size: 1.875em;
}

#button-users {
    background-image: linear-gradient(to right, #F995A3, #FFB7C0);
    font-family: 'Poppins-Bold';
    color: white;
    border-style: none;
    border-radius: 2em;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#list-users {
    color: #F995A3;
    font-size: 1em;
    line-height: 3em;
}


/* POST */

#user-posts {
    color: #F995A3;
    font-family: 'Poppins-Light';
}

#list-posts {
    color: #4D70A4;
}

#list-posts>button {
    font-size: 0.9em;
    padding-left: 0em;
    padding-bottom: 2em;
    color: #F995A3;
    text-decoration: underline;
    border-style: none;
    background-color: #ffffff;
}

#list-posts>h1 {
    padding-top: 2em;
}