body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
}

textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
    width: 400px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

#depassement {
    color: rgb(236, 46, 12);
    font-size: 25pt;
}